
<div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout="row" mat-align-tabs="center" *ngIf="nav.visible">
        <span *ngFor="let item of menuItem">
            <div class="text-uppercase fw-bold text-primary">
                <a mat-tab-link routerLink="{{item.route}}"  routerLinkActive="active" *ngIf="user">
                    <mat-icon color="warn">{{item.iconName}}</mat-icon>
                    {{item.displayName}}
                </a>
            </div>
        </span>
    </nav>
  </div> 
