

.active{
  background-color: blue ;
}

.inactive{
  background-color: lightgray;
}

mat-toolbar {
  justify-content: space-between;
}

.mr {
  margin-right: 5px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}




