
<div class="card">
    <div class="card-body">
      <form [formGroup]="form" #searchInfo class="row" > 
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>Recipe Types</mat-label>
            <mat-select  (selectionChange)="getRecipesByType($event.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let recipesType of recipesTypes" [value]="recipesType.recipeTypeName">{{recipesType.recipeTypeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <label for="search" class="visually-hidden">Search</label>
          <input type="text" formControlName="searchText" placeholder="Search receipe" class="form-control w-100" >
        </div>
        <div class="col-auto">
          <button type="button" (click)="searchForm()" class="btn btn-primary mb-3">Search</button>
        </div>
      </form>
      <h2 class="card-title text-center p-2 mb-2 text-white border border-light" style="background-color: grey;">{{textHead}}</h2>
      <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  
        <div
          [fxFlex]="(100/gridColumns) + '%'"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let receipe of recipes"
        >
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{receipe.recipeName}}</mat-card-title>
            </mat-card-header>
            <img
            mat-card-md-image
              [src]="receipe.recipeImage"
            />
            <mat-card-content>
              <p>
                {{receipe.recipeDescription}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <input type="hidden" #receipeId name="receipeId" value="{{receipe.recipeId}}"/>
              <button mat-button class="btn btn-outline-dark" (click)="openDialog('500ms', '500ms',receipeId.value)">View Full Recipe details</button>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
  </div>
</div>

 



  