.mat-toolbar.mat-primary {
    background: blue;
    color: #fff;
}
  .ylb-app-content{
    padding: 16px;
  }
  .bell-icon{
  margin-right:20px!important;
  display: inline-block;
  vertical-align: bottom;
  }
  .logout{
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    
  }
 .text{
  text-align: right;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  font-size: small;
 }
  
  .circle {
    border: 2px solid blue;
    background-color: white;
    border-radius:50%;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
}
  