.mat-toolbar.mat-primary {
    background: blue;
    color: #fff;
}
  .ylb-app-content{
    padding: 16px;
  }
  .bell-icon{
  margin-right:20px!important;
  display: inline-block;
  vertical-align: bottom;
  }
  .logout{
    display: inline-block;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
  }

  .circle {
    border: 2px solid blue;
    background-color: white;
    border-radius:50%;
}
  