<mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="calender" matTooltip="Select Date">
      <mat-icon>calendar_today</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="enterFood" matTooltip="Enter Food">
      <mat-icon>restaurant</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="exercice" matTooltip="Enter Exercise">
        <mat-icon>directions_run</mat-icon>
      </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="example-selected-value">Selected value: {{group.value}}</div>
<app-autocomplete-search></app-autocomplete-search>