.example-selected-value {
  margin-top: 10px;
   align-items: center;
   justify-content: left;
 }
 
 p {
   font-family: Lato;
 }
 
 
 .card-head{
  width: 100%;
}

.heading{
  color: black;
}

.example-events {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}


body{
  background-color: #7E57C2;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
  height: 15px !important;
}

.spinner-container {
  position: relative;
  margin-top: 10px;
}
.spinner-background {
  position: absolute;
  width: 100px;
  height: 100px;
 line-height: 80px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(103, 58, 183, 0.12);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  background: white;
  font-size: 24px;
  color: blue;
  
}

.icon {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.blue-progress .mat-progress-bar-fill::after {
  background-color: blue !important;
}

.progress-bar {
  color: #008cff;
  height: 30px !important;
  border-radius: 20px;
}
